{
  "extension": [
    ".ts"
  ],
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "**/node_modules/**",
    "**/tests/**",
    "**/coverage/**",
    "**/*.d.ts",
    "**/internals/**",
    "**/*.spec.ts"
  ],
  "reporter": [
    "html"
  ],
  "all": true,
  "cache": true
}
